<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Update Application<br><br>
<form action="/teachers/update{id}" method="post" enctype="multipart/form-data">
    Name <input type="text" name="name" th:value="${teacher.getName()}"><br><br>
    Surname<input type ="text" name="surname"  th:value="${teacher.getSurname()}"><br><br>
    Email<input type="text" name="email"  th:value="${teacher.getEmail()}"><br><br>
    Photo<input type="text" name="pic_name"  th:value="${teacher.getPic_name()}"><br><br>
<!--    Lesson List <input type="text" name="lesson"><br><br>-->
    <input type="submit" value="Update"><br><br>
</form>
</body>
</html>